{% extends 'home/base_temaplate.html' %}
{% load static %}

{% block links %}
<link href="{% static 'css/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}




<div class="wrap cf padpad">
      <div class="section-title">
      <h2>Корзина</h2>
      <p>Ваш заказ</p>
    </div>
  <div class="cart">
<!--    <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>-->

        {% for item in order.orderitem_set.all %}


    <div class="menuitem">

        <div class="cartSection col60" style="justify-content: flex-start">
        <img src="{{ item.product.imageURL }}" class="menu-img" alt="" style="height: 100% ;width: auto">
            <div class="iteminf">
              <h3>{{ item.product.name }}</h3>
            </div>
        </div>


        <div class="cartSection col40" style="justify-content: space-between">
            <div class="qtwrap">
            <span class="qt-minus update-cart" data-product="{{ item.product.id }}" data-action="remove">-</span>
            <span class="qt">{{ item.quantity }}</span>
            <span data-product="{{ item.product.id }}" data-action="add" class="qt-plus update-cart">+</span>
            </div>
          <p style="  padding: 0 0 0 0;
  margin-top: 0;
  margin-bottom: 0;">{{ item.get_total }}₴</p>

           <a href="#" data-product="{{ item.product.id }}" data-action="delete" class="remove update-cart">x</a>
        </div>
    </div>


    {% endfor %}




  </div>

<!--  <div class="promoCode"><label for="promo">Have A Promo Code?</label><input type="text" name="promo" placholder="Enter Code" />
  <a href="#" class="btn"></a></div>
-->
  <div class="subtotal cf" style="width:100%">
<input type="hidden" id="order_id" value="{{ order_id }}">
      <section id="book-a-table" class="book-a-table">
      <div class="container " data-aos="fade-up" >

        <form action="{% url 'cart' %}" method="POST" role="form" class="php-email-form checkout" data-aos="fade-up" data-aos-delay="100">
              {% csrf_token %}
            <div class="col1-2">
            <div style="display: flex;flex-direction: column">

            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Пожалуйста, введите хотя бы 4 символа">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Номер телефона" data-rule="minlen:4" data-msg="Пожалуйста, введите хотя бы 4 символа">
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <input type="text" name="adress" class="form-control" id="adress" placeholder="Адрес" data-rule="minlen:4" data-msg="Пожалуйста, введите хотя бы 4 символа">
              <div class="validate"></div>
            </div>

          </div>
      <!--    <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Уточните заказ"></textarea>
            <div class="validate"></div>
          </div>-->
          <div class="mb-3">
            <div class="loading">Загрузка</div>
            <div class="error-message"></div>
            <div class="sent-message">Ваш заказ принят. Мы свяжемся с вами как можно скорее!</div>
          </div>
          </div>

        <ul class="col1-2">

            <li class="totalRow"><span class="label">Продукты</span><span class="value">{{ order.get_cart_total }}₴</span></li>

            <li class="totalRow"><span class="label">Доставка</span><span class="value"> {{ order.shipping_price }}₴</span></li>

            <li class="totalRow final"><span class="label">Итоговая сумма</span><span class="value">{{ order.end_price }}₴</span></li>
<li class="checkss">
              <input type="radio" class="label" id="radio-card" name="option" value="card" onclick="PaymentFunc()">
                <label for="radio-card">Картой</label>
</li>

             <li class="checkss">  <input class="label" type="radio" id="radio-cash" value="cash" name="option" checked onclick="PaymentFunc()">

                <label for="radio-cash">Наличными</label>
</li>

           <li><div class="text-right"><button type="submit" id="subm-but">Сделать заказ</button></div></li>
            </ul>

            </form>

          </div>
<form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8" style="display: flex;justify-content: flex-end">
 <input type="hidden" name="data" value="{{ checkout_data }}"/>
 <input type="hidden" name="signature" value="{{ signature }}"/>
 <input onclick="liqpayFunc()" type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png" id="liqpay_butn" style="display: none;padding-top: -20px "/>
</form>
    </section><!-- End Book A Table Section -->
<script>
    function PaymentFunc() {
        if (document.getElementById("radio-cash").checked){
            document.getElementById("subm-but").style.display = "inline-block";
            document.getElementById("liqpay_butn").style.display = "none";
        } else if (document.getElementById("radio-card").checked){
            document.getElementById("subm-but").style.display = "none";
            document.getElementById("liqpay_butn").style.display = "block";
        }

    }

    function  liqpayFunc(){

                var ph= document.getElementById('phone').value;
                var name= document.getElementById('name').value;
                var adress= document.getElementById('adress').value;
                var order_id = document.getElementById('order_id').value;
        $.ajax({
            type: 'post',
            url: '{% url 'ajax-test-view' %}',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}',phone:ph,adress:adress,name:name,order_id:order_id},
            success: function () {
              alert('second api submitted');
            }
          });

    }
    </script>


  </div>

</div>




{% endblock content %}