{% extends 'home/base_temaplate.html' %}
{% load static %}

{% block content %}
    <main id="main">
 <!-- ======= Menu Section ======= -->
 <section id="menu" class="menu section-bg padpad">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Доставка и оплата</h2>
      <p>Условия и возврат</p>
    </div>

      <h3>Способы оплаты</h3>
       <ul>
       <li>Наличными курьеру при получении</li>
       <li>Оплата картой на сайте через корзину</li>
       <li>Оплата картой при получении</li>
       </ul>
<h3>Доставка</h3>
<ul>
   <li>Самовывоз</li>
    <li>Доставка в зеленой зоне 70 грн</li>
    <li>Доставка в зеленой зоне бесплатно при заказе от 500 грн</li>
    <li>Доставка на дальние расстояния на такси - по тарифам такси</li>
</ul>
<p>Оплата осуществляется наличным и безналичным расчетом, на сайте, а также при получении заказа.</p>
        <p>Платёжные системы с которыми мы сотрудничаем:</p>
        <img src="{% static 'visa.svg' %}" alt="" height="60px">
        <img src="{% static 'master.svg' %}" alt="" height="60px"><br>
      <p>Также при выборе способа оплаты через сайт, возможно провести оплату с помощью:</p>
        <img src="{% static 'pay.svg' %}" alt="" height="60px"><br><br><br>
    <div class="row text-center" data-aos="fade-up" data-aos-delay="100">


<iframe src="https://www.google.com/maps/d/embed?mid=1QYYUCGbeY10CzujVHSbofC4dfY0LwKYu" width="80%" height="500px" ></iframe>

    </div>
<h3>Возврат</h3>
<p>При получении заказа курьером сразу же проверьте качество блюд и комплектацию (наличие салфеток, всех столовых приборов и т.д.). Если у Вас есть претензии к качеству продукта, сообщите об этом курьеру, или же звоните в службу доставки.</p>
<p>Если визуально блюда были в порядке, но в процессе употребления вы почувствовали заметные отличия во вкусе, ингредиентах, или другие несоответствия, смело звоните в службу доставки по номеру +380 67 423 16 70. Мы оперативно отреагируем и в ближайшее время исправим, при условии, что вы возвращаете курьеру блюдо, которое вас не устраивает, чтобы мы смогли обнаружить где допустили ошибку.</p>
  </div>

</section><!-- End Menu Section -->
    </main>
{% endblock %}