{% extends 'home/base_temaplate.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Добро пожаловать в <span>Балкан Гриль</span></h1>
          <h2>Семейный ресторан балканской кухни!</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Наше меню</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=z61j0w8MkAI" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">


 <!-- ======= Menu Section ======= -->
 <section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Меню</h2>
      <p>Блюда на любой вкус</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">Все меню</li>
            {% for category in categories %}
                <li data-filter="{{ category.filter }}">{{ category.name }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        {% for product in products %}
      <div class="col-lg-6 menu-item {{ product.category.filter_item }}">
      <a href="{{ product.imageURL }}" class="venobox" data-gall="gallery-item">
        <img src="{{ product.imageURL }}" class="menu-img" alt="">
      </a>
        <div class="menu-content">
          <a href="#">{{ product.name }}</a><span>{{ product.weight }}г {{ product.price }}₴</span>
        </div>
        <div class="menu-ingredients">
          {{ product.description }}
        </div>
        <div class="text-right">

            <button data-product="{{ product.id }}" data-action="add" class="buy-btn animated fadeInUp scrollto update-cart">Купить</button>
        </div>
      </div>
        {% endfor %}

    </div>

  </div>
</section><!-- End Menu Section -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'img/about.jpg'%}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Сербия. Румыния. Греция. Болгария. Четыре страны. Четыре разных вкуса.</h3>
            <p class="font-italic">
              Сербская кухня ближе чем ты думаешь...
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Пицца на дровах</li>
              <li><i class="icofont-check-circled"></i> Мясо на углях</li>
            </ul>
            <p>
              Все четыре концепции мы настолько подробно продумывали, чтобы каждый наш гость смог почувствовать Балканы на вкус. В нашем ресторане повар с Балканского полуострова  создал собственное аутентичное меню, состоящее из блюд своего народа.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Про нас</h2>
          <p>Почему стоит выбрать наш ресторан?</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Отменный вкус.</h4>
              <p>Только натуральные продукты без вредной химии, высокие стандарты приготовления еды, все это дарит незабываемое удовольствие от ужина в нашем ресторане.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>У нас недорого.</h4>
              <p>Ознакомившись с ценами банкетного ресторана «Балкан Гриль», вы точно примете положительное решение. Доступность — было одним из главных условий при создании заведения. Стартовое меню на человека от 200 ₴.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>Красивые интерьеры.</h4>
              <p>Оригинальный дизайн залов восхищает практически всех наших гостей. Мы смогли совместить предметы старины и аутентичный дух Балканов. Удобная мебель и потрясающий интерьер создают неповторимое настроение. Многие рестораны не могут похвастаться подобной обстановкой.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->


    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Фирменные блюда</h2>
          <p>Ознакомтесь с нашими фирменными блюдами</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Modi sit est</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Unde praesentium sed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Architecto ut aperiam autem id</h3>
                    <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/specials-1.png'%}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/specials-2.png'%}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/specials-3.png'%}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="font-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/specials-4.png'%}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="{% static 'img/specials-5.png'%}" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Бронирование</h2>
          <p>Забронировать столик</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="form-row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Пожалуйста, введите хотя бы 4 символа">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Ваш номер телефона" data-rule="minlen:4" data-msg="Пожалуйста, введите хотя бы 4 символа">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="date" class="form-control" id="date" placeholder="Дата" data-rule="minlen:4" data-msg="Пожалуйста, введите хотя бы 4 символа">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" class="form-control" name="Время" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Пожалуйста, введите хотя бы 4 символа">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="number" class="form-control" name="people" id="people" placeholder="Сколько человек" data-rule="minlen:1" data-msg="Пожалуйста, введите хотя бы 1 символ">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Сообщение"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Загрузка</div>
            <div class="error-message"></div>
            <div class="sent-message">Ваш запрос на бронирование столика был отправлен. Мы свяжемся с вами как можно скорее!</div>
          </div>
          <div class="text-center"><button type="submit">Забронировать столик</button></div>
        </form>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Галерея</h2>
          <p>Несколько кадров из нашего ресторана</p>
        </div>
      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-1.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-1.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-2.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-2.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-3.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-3.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-4.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-4.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-5.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-5.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-6.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-6.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-7.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-7.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="{% static 'img/gallery/gallery-8.jpg'%}" class="venobox" data-gall="gallery-item">
                <img src="{% static 'img/gallery/gallery-8.jpg'%}" alt="" class="img-fluid">
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Контакты</h2>
          <p>Связаться с нами</p>
        </div>
      </div>

      <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d687.7477087476701!2d30.71037792924275!3d46.409237298695174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63346a31a3d25%3A0xfc49e63d2cfaf69a!2z0KDQtdGB0YLQvtGA0LDRhtC40Y8g0JDQvdGC0YDQtdC60L7Rgg!5e0!3m2!1sru!2sua!4v1619706339700!5m2!1sru!2sua" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Местоположение:</h4>
                <p>Украина, Одесса, ул. Небесной Сотни 6/1</p>
              </div>

              <div class="open-hours">
                <i class="icofont-clock-time icofont-rotate-90"></i>
                <h4>Часы работы:</h4>
                <p>
                  Ежедневно:<br>
                  11:00  - 23:00
                </p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Intstagram:</h4>
                <p><a href="https://www.instagram.com/balkangrill.svd.od">@balkangrill.svd.od</a></p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Наш номер:</h4>
                <p><a href="tel:+380 67 423 16 70">+380 67 423 16 70</a></p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Пожалуйста введите хотя бы 4 символа" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ваша почта" data-rule="email" data-msg="Пожалуйста введите верно почту" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Ваш номер телефона" data-rule="minlen:4" data-msg="Введите хотя бы 8 символов номера" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="8" data-rule="required" data-msg="Пожалуйста, напишите нам что-нибудь" placeholder="Ваше сообщение"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Загрузка</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше письмо было отправлено. Спасибо!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить письмо</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
